
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>WowJinn.com</title>

    <!-- Bootstrap Core CSS -->

    <link href="~/WebAssets/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Customizable CSS -->
    <link rel="stylesheet" href="~/WebAssets/assets/css/main.css">
    <link rel="stylesheet" href="~/WebAssets/assets/css/blue.css">
    <link rel="stylesheet" href="~/WebAssets/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/WebAssets/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="~/WebAssets/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/WebAssets/assets/css/rateit.css">
    <link rel="stylesheet" href="~/WebAssets/assets/css/bootstrap-select.min.css">

    <!--acutocomplete-->
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>












    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="~/WebAssets/assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/WebAssets/assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/WebAssets/assets/css/simple-line-icons.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    <script>
        $(document).ready(function () {
            alert('ok');
            if(@Session["location"]!=null)
            {
                alert('Session Not Null')
            }
            else{
                alert('Session  Null')
            }

        })

    </script>
</head>


<body class="cnt-home">

    <script>

    </script>


    <!-- ============================================== HEADER ============================================== -->
    <header class="header-style-1">

        <!-- ============================================== TOP MENU ============================================== -->
        <div class="top-bar animate-dropdown">
            <div class="container-fluid">
                <div class="header-top-inner">
                    <div class="cnt-account">
                        <ul class="list-unstyled">
                            <li>
                                <a href="../Web/MyAccount?id=@Session["UserName"]"><i class="icon fa fa-user"></i>My Account</a>

                            </li>
                            <li>
                                <a href="../Web/More"><i class="icon fa fa-check"></i>More</a>
                            </li>
                            @* <li><a href="#"><i class="icon fa fa-heart"></i>Wishlist</a></li>*@
                            @*<li><a href="#"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>*@
                            @if (@Session["Role"] != null && @Session["Role"].ToString() == "4")
                            {
                                if (@Session["Name"] != null)
                                {
                                    <li><a href="#"><i class="icon fa fa-USER"></i>@Session["Name"]</a></li>
                                    <li><a href="../Web/Logout"><i class="icon fa fa-lock"></i>Log Out</a></li>
                                }
                            }
                            else
                            {
                                <li><a href="@Url.Action("Registrationform", "Customer")"><i class="icon fa fa-lock"></i>Login</a></li>
                            }

                        </ul>
                    </div>
                    <!-- /.cnt-account -->

                    <div class="cnt-block">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                @*<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">INR </span>*@<!--<b class="caret"></b>--></a>
                                <!--<ul class="dropdown-menu">
                                  <li><a href="#">USD</a></li>
                                  <li><a href="#">INR</a></li>
                                  <li><a href="#">GBP</a></li>
                                </ul>-->
                            </li>
                            <li class="dropdown dropdown-small">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">English/Hindi </span><!--<b class="caret"></b>--></a>
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span style="color">Location:</span><span id="location" class="value">@Session["location"] </span><!--<b class="caret"></b>--></a>
                                <!--<ul class="dropdown-menu">
                                  <li><a href="#">English</a></li>
                                  <li><a href="#">French</a></li>
                                  <li><a href="#">German</a></li>
                                </ul>-->
                            </li>
                        </ul>
                        <!-- /.list-unstyled -->
                    </div>
                    <!-- /.cnt-cart -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.header-top-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.header-top -->
        <!-- ============================================== TOP MENU : END ============================================== -->
        <div class="main-header">
            <div class="container-fluid">
                <div class="row" style="background-color:#F1F1E9">
                    <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <div class="logo"> <a href="@Url.Action("Index","Web")"> <img src="~/WebAssets/assets/images/circle-cropped (2).png" alt="logo" style="height:118px; width: 121px; margin-left: 5px;margin-bottom: 10px;"> </a> </div>
                        <!-- /.logo -->
                        <!-- ============================================================= LOGO : END ============================================================= -->
                    </div>
                    <!-- /.logo-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">
                        <!-- /.contact-row -->
                        <!-- ============================================================= SEARCH AREA ============================================================= -->
                        @Html.Action("P_Search", "web")
                        <!-- /.search-area -->
                        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                    </div>
                    <!-- /.top-search-holder -->


                    <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row" id="pview">
                        <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                        @Html.Action("P_Addtocard", "Customer")
                        <!-- /.dropdown-cart -->
                        <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
                    </div>
                    <!-- /.top-cart-row -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.main-header -->
        <!-- ============================================== NAVBAR ============================================== -->
        <div class="header-nav animate-dropdown">
            <div class="container">
                <div class="yamm navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="nav-bg-class">
                        <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                            <div class="nav-outer">
                                <ul class="nav navbar-nav">
                                    @*<li class="active dropdown yamm-fw"> <a href="@Url.Action("Index","Web")" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Home</a> </li>*@
                                    @*<li class="dropdown yamm mega-menu">
                                            <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Clothing</a>
                                            <ul class="dropdown-menu container">
                                                <li>
                                                    <div class="yamm-content ">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                                <h2 class="title">Men</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Dresses</a></li>
                                                                    <li><a href="#">Shoes </a></li>
                                                                    <li><a href="#">Jackets</a></li>
                                                                    <li><a href="#">Sunglasses</a></li>
                                                                    <li><a href="#">Sport Wear</a></li>
                                                                    <li><a href="#">Blazers</a></li>
                                                                    <li><a href="#">Shirts</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                                <h2 class="title">Women</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Handbags</a></li>
                                                                    <li><a href="#">Jwellery</a></li>
                                                                    <li><a href="#">Swimwear </a></li>
                                                                    <li><a href="#">Tops</a></li>
                                                                    <li><a href="#">Flats</a></li>
                                                                    <li><a href="#">Shoes</a></li>
                                                                    <li><a href="#">Winter Wear</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                                <h2 class="title">Boys</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Toys & Games</a></li>
                                                                    <li><a href="#">Jeans</a></li>
                                                                    <li><a href="#">Shirts</a></li>
                                                                    <li><a href="#">Shoes</a></li>
                                                                    <li><a href="#">School Bags</a></li>
                                                                    <li><a href="#">Lunch Box</a></li>
                                                                    <li><a href="#">Footwear</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                                <h2 class="title">Girls</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Sandals </a></li>
                                                                    <li><a href="#">Shorts</a></li>
                                                                    <li><a href="#">Dresses</a></li>
                                                                    <li><a href="#">Jwellery</a></li>
                                                                    <li><a href="#">Bags</a></li>
                                                                    <li><a href="#">Night Dress</a></li>
                                                                    <li><a href="#">Swim Wear</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="~/WebAssets/assets/images/banners/top-menu-banner.jpg" alt=""> </div>
                                                            <!-- /.yamm-content -->
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown mega-menu">
                                            <a href="category.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Electronics <span class="menu-label hot-menu hidden-xs">hot</span> </a>
                                            <ul class="dropdown-menu container">
                                                <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                                <h2 class="title">Laptops</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Gaming</a></li>
                                                                    <li><a href="#">Laptop Skins</a></li>
                                                                    <li><a href="#">Apple</a></li>
                                                                    <li><a href="#">Dell</a></li>
                                                                    <li><a href="#">Lenovo</a></li>
                                                                    <li><a href="#">Microsoft</a></li>
                                                                    <li><a href="#">Asus</a></li>
                                                                    <li><a href="#">Adapters</a></li>
                                                                    <li><a href="#">Batteries</a></li>
                                                                    <li><a href="#">Cooling Pads</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                                <h2 class="title">Desktops</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Routers & Modems</a></li>
                                                                    <li><a href="#">CPUs, Processors</a></li>
                                                                    <li><a href="#">PC Gaming Store</a></li>
                                                                    <li><a href="#">Graphics Cards</a></li>
                                                                    <li><a href="#">Components</a></li>
                                                                    <li><a href="#">Webcam</a></li>
                                                                    <li><a href="#">Memory (RAM)</a></li>
                                                                    <li><a href="#">Motherboards</a></li>
                                                                    <li><a href="#">Keyboards</a></li>
                                                                    <li><a href="#">Headphones</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                                <h2 class="title">Cameras</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Accessories</a></li>
                                                                    <li><a href="#">Binoculars</a></li>
                                                                    <li><a href="#">Telescopes</a></li>
                                                                    <li><a href="#">Camcorders</a></li>
                                                                    <li><a href="#">Digital</a></li>
                                                                    <li><a href="#">Film Cameras</a></li>
                                                                    <li><a href="#">Flashes</a></li>
                                                                    <li><a href="#">Lenses</a></li>
                                                                    <li><a href="#">Surveillance</a></li>
                                                                    <li><a href="#">Tripods</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->
                                                            <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                                <h2 class="title">Mobile Phones</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Apple</a></li>
                                                                    <li><a href="#">Samsung</a></li>
                                                                    <li><a href="#">Lenovo</a></li>
                                                                    <li><a href="#">Motorola</a></li>
                                                                    <li><a href="#">LeEco</a></li>
                                                                    <li><a href="#">Asus</a></li>
                                                                    <li><a href="#">Acer</a></li>
                                                                    <li><a href="#">Accessories</a></li>
                                                                    <li><a href="#">Headphones</a></li>
                                                                    <li><a href="#">Memory Cards</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"> <a href="#"><img alt="" src="~/WebAssets/assets/images/banners/banner-side.png"></a> </div>
                                                        </div>
                                                        <!-- /.row -->
                                                    </div>
                                                    <!-- /.yamm-content -->
                                                </li>
                                            </ul>
                                        </li>*@
                                    <li class="dropdown hidden-sm"> <a href="@Url.Action("Index","Web")" style="font-size:15px;">Home</a> </li>
                                    <li class="dropdown hidden-sm"> <a href="@Url.Action("Contactus", "Web")" style="font-size:15px;">Contact us @*<span class="menu-label new-menu hidden-xs"></span>*@ </a> </li>
                                    <li class="dropdown hidden-sm"> <a href="../Web/franchisebenefits" style="font-size:15px;">franchise benefits</a> </li>
                                    <li class="dropdown"> <a href="../Web/Bestseller" style="font-size:15px;">Best seller</a> </li>
                                    <li class="dropdown"> <a href="../Web/VenderRegistration" style="font-size:15px;">Vendor  Registration</a> </li>
                                    @*<li class="dropdown"> <a href="contact.html">Kids & Girls</a> </li>*@
                                    <li class="dropdown">
                                        <a href="#" style="font-size:15px;" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">About Us</a>
                                        <ul class="dropdown-menu pages">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-menu">
                                                            <ul class="links">
                                                                @*<li><a href="../Web/OverView">OverView</a></li>*@
                                                                <li><a href="../Web/PrivacyandPolicy">Privacy and policy</a></li>
                                                                <li><a href="@Url.Action("TermsandConditions","Product")">Term & condition</a></li>
                                                                @*<li><a href="javascript:void(0);">Return policy</a></li>*@

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown  navbar-right special-menu"> <a href="#">@*Todays offer*@</a> </li>
                                </ul>
                                <!-- /.navbar-nav -->
                                <div class="clearfix"></div>
                            </div>
                            <!-- /.nav-outer -->
                        </div>
                        <!-- /.navbar-collapse -->

                    </div>
                    <!-- /.nav-bg-class -->
                </div>
                <!-- /.navbar-default -->
            </div>
            <!-- /.container-class -->

        </div>
        <!-- /.header-nav -->
        <!-- ============================================== NAVBAR : END ============================================== -->

    </header>

    @RenderBody()
    <!-- ============================================================= FOOTER ============================================================= -->
    <footer id="footer" class="footer color-bg">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="module-heading">
                            <h4 class="module-title">Contact Us</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class="toggle-footer" style="">
                                <li class="media">
                                    <div class="pull-left">
                                        <a href="https://www.google.com/maps/place/wowjinn.com/26.8661776,81.0042555,17z/data=!3m1!4b1!4m5!3m4!1s0x399be31a93073c3f:0xa50a6a5afc32e15d!8m2!3d26.8661776!4d81.0064442">

                                            <span class="icon fa-stack fa-lg"><i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p>D-233 Vubhuti Khand Gomti Nagar, Lucknow U.P-226010</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p>
                                            <a href="tel:+917355606420">+917355606420</a>
                                            <br>
                                            <a href="tel:5223578471">     5223578471</a>
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body"> <span><a href="mailto:wowjin.com@gmail.com">wowjin.com@gmail.com</a></span> </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="module-heading">
                            <h4 class="module-title">Customer Service</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="../Web/Index" title="About us" id="">Home </a></li>
                                <li class="first"><a href="../Web/MyAccount?id=@Session["UserName"]" title="Contact us">My Account</a>

                                <li><a href="../Web/Contactus" title="About us" id="">Contact us  </a></li>
                                <li><a href="../Web/franchisebenefits" title="About us" id="">Franchise benefits </a></li>

                                @*  <li><a href="#" title="faq">FAQ</a></li>
                                    <li><a href="#" title="Popular Searches">Specials</a></li>
                                    <li class="last"><a href="#" title="Where is my order?">Help Center</a></li>*@
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->
                    @*<div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="module-heading">
                                <h4 class="module-title">Corporation</h4>
                            </div>
                            <!-- /.module-heading -->

                            <div class="module-body">
                                <ul class='list-unstyled'>
                                    <li class="first"><a title="Your Account" href="#">About us</a></li>
                                    <li><a title="Information" href="#">Customer Service</a></li>
                                    <li><a title="Addresses" href="#">Company</a></li>
                                    <li><a title="Addresses" href="#">Investor Relations</a></li>
                                    <li class="last"><a title="Orders History" href="#">Advanced Search</a></li>
                                </ul>
                            </div>
                            <!-- /.module-body -->
                        </div>*@
                    <!-- /.col -->
                    @*<div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="module-heading">
                                <h4 class="module-title">Why Choose Us</h4>
                            </div>
                            <!-- /.module-heading -->

                            <div class="module-body">
                                <ul class='list-unstyled'>
                                    <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
                                    <li><a href="#" title="Blog">Blog</a></li>
                                    <li><a href="#" title="Company">Company</a></li>
                                    <li><a href="#" title="Investor Relations">Investor Relations</a></li>
                                    <li class=" last"><a href="javascript:void(0);" title="Suppliers">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- /.module-body -->
                        </div>*@
                </div>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-padding social">
                    <ul class="link">
                        <li class="fb pull-left"><a target="_blank" rel="nofollow" href="https://www.facebook.com/" title="Facebook"></a></li>
                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="https://twitter.com/" title="Twitter"></a></li>
                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="https://myaccount.google.com/profile" title="GooglePlus"></a></li>
                        @*<li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>*@
                        <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="https://in.pinterest.com/" title="PInterest"></a></li>
                        <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="https://www.linkedin.com/home/?originalSubdomain=in" title="Linkedin"></a></li>
                        <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="https://www.youtube.com/" title="Youtube"></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding">
                    <div class="clearfix payment-methods">
                        <ul>
                            <h5 style="color:white;">Payment Method Options</h5>
                            <li><img src="~/WebAssets/assets/images/payments/1.png" alt=""></li>
                            @*<li><img src="~/WebAssets/assets/images/payments/2.png" alt=""></li>*@
                            <li><img src="~/WebAssets/assets/images/payments/3.png" alt=""></li>
                            <li><img src="~/WebAssets/assets/images/payments/4.png" alt=""></li>
                            <li><img src="~/WebAssets/assets/images/payments/5.png" alt=""></li>
                        </ul>
                    </div>
                    <!-- /.payment-methods -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ============================================================= FOOTER : END============================================================= -->
    <!-- For demo purposes – can be removed on production -->
    <!-- For demo purposes – can be removed on production : End -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    @*<script src="~/WebAssets/assets/js/jquery-1.11.1.min.js"></script>*@
    <script src="~/WebAssets/assets/js/bootstrap.min.js"></script>
    <script src="~/WebAssets/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/WebAssets/assets/js/owl.carousel.min.js"></script>
    <script src="~/WebAssets/assets/js/echo.min.js"></script>
    <script src="~/WebAssets/assets/js/jquery.easing-1.3.min.js"></script>
    <script src="~/WebAssets/assets/js/bootstrap-slider.min.js"></script>
    <script src="~/WebAssets/assets/js/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="~/WebAssets/assets/js/lightbox.min.js"></script>
    <script src="~/WebAssets/assets/js/bootstrap-select.min.js"></script>
    <script src="~/WebAssets/assets/js/wow.min.js"></script>
    <script src="~/WebAssets/assets/js/scripts.js"></script>
</body>


</html>
